name: Artifact Practice

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Create output file
        run: |
          echo "This is an artifact file" > output.txt
          echo "File created!"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-artifact
          path: output.txt

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: my-artifact

      - name: Show downloaded file
        run: cat output.txt
