name: First Workflow

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Say hello
        run: echo "Hello from GitHub Actions!"

      - name: List files in repo
        run: ls -la

      - name: Check system version
        run: |
          uname -a
          cat /etc/os-release

      - name: Check Node & Python version
        run: |
          node -v || echo "Node not installed"
          python3 -V || echo "Python not installed"

